*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #222;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  padding-top:2rem;
}

header .logo {
  width: 20vw;
  height: 10vh;
}

header .search-bar input {
  display: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.menu{
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -101%;
  background-color: #842d2d;
  text-align: center;
  padding: 10px;
  transition: .4s ease-in;
}

form{
  width: 100%;
  height: 10vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;

}

form input{
  width: 80%;
  height: 5vh;
  border: none;
  outline: none;
  padding: 5px;
  background: transparent;
  border-bottom: 1px solid #fff;
}

form input::placeholder{
  color: #fff;
}

.active{
  right: 0;
  overflow-y: none;
}

.bloqueo{
  overflow-y: hidden;
  height: 100vh;
}

a	{
  text-decoration: none;
  color: #fff;
}

.menu ul li {
  list-style: none;
  margin-bottom: 5px;

}

header .menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.main-banner {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  display: block;
  opacity: 1;
}


.slide img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-controls .prev,
.slider-controls .next {
  cursor: pointer;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.game-item {
  border-radius: 10%;
  margin: 10px;
  width: 80%;
  text-align: center;
  background-color: #333;
  padding-bottom: 1rem;
}

.game-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.game-item p {
  margin-top: 10px;
}

.game-details {
  background-color: #333;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.game-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.game-details img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.screenshots {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.screenshots img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.details p {
  margin: 10px 0;
}
