* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0B0B0B;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  padding: 10px;
}

header .logo {
  width: 200px;
}

header .search-bar input {
  display: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -o-transition: all 0.1s;
}

.hamburger-icon:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px #CCAB58;
}

.hamburger-icon .line {
  width: 100%;
  height: 4px;
  background-color: white;
}

#menu-toggle {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 15px;
  z-index: 1;
  width: 150px;
  margin: 5px;
}

.dropdown-menu a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #555;
  border: 2px solid #CCAB58;
  border-radius: 20px;
  background-color: #151515;
  transition: 0.5s;
}

.dropdown-menu a:hover {
  background-color: #353535;
  transform: scale(1.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}

#menu-toggle:checked+.hamburger-icon+.dropdown-menu {
  display: block;
}

.main-banner {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 5px solid #CCAB58;
  border-bottom: 5px solid #CCAB58;

}


.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  display: block;
  opacity: 1;
}


.slide img {
  width: 100%;
  height: 50vw;
}

.banner-text {
  background: rgba(0, 0, 0, 0.493);
  box-shadow: 0 0 20px #e1e1e18c;
  position: absolute;
  width: 60%;
  height: 50%;
  padding: 20%;
  top: 50%;
  left: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2vw;
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  transform: translate(-50% -50%);
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-controls .prev,
.slider-controls .next {
  cursor: pointer;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.game-item {
  border-radius: 10%;
  margin: 10px;
  margin-bottom: 200px;
  width: 80%;
  text-align: center;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card {
  margin-bottom: 2vh;
  background-image: linear-gradient(to bottom, rgba(204, 171, 88, 0) 0%, rgba(204, 171, 88)10%);
}

.game-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.game-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.game-item p {
  margin-top: 10px;
  color: #fff;
  font-size: 1.1rem;
}

.filtro {
  background-color: #333;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
}

.filtro select {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #222;
  color: white;
  border-radius: 5px;
  border: 2px solid #797979;

}

footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  border-top: 2px solid #CCAB58;
}


/* Responsive Design */
@media (max-width: 280px) {

  .filtro,
  footer {
    padding: 5px;
  }
}

@media (max-width: 320px) {

  .filtro,
  footer {
    padding: 10px;
  }
}

@media (max-width: 480px) {

  .filtro,
  footer {
    padding: 15px;
  }
}

@media (max-width: 768px) {

  .filtro,
  footer {
    padding: 20px;
  }
}

@media (max-width: 1024px) {

  .filtro,
  footer {
    padding: 25px;
  }
}

@media (max-width: 1200px) {

  .filtro,
  footer {
    padding: 30px;
  }
}

@media (min-width: 1201px) {

  .filtro,
  footer {
    padding: 35px;
  }

  .game-card {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 2vh;

  }
}